.board-viewer {
	width: 100%;
	height: 720px;
	margin: 0;

	display: flex;
	flex-flow: row nowrap;
}

.board-viewer > .map {
	width: 100%;
	height: 720px;
	flex: 0 0 100%;
}

.board-viewer > .notes {
	flex: 1 1 180px;
	height: 720px;
	padding: 0;
	margin: 0;
}

.board-viewer > .notes li {
	list-style-type: none;
	display: block;
	padding: 2px 5px;
	margin: 5px;
	border: 1px solid black;
	cursor: pointer;
}

.notes li.warning {
	background: #ff8;
}

.notes li.error {
	background: #f88;
}

svg {
	transform-origin: 0 0 0;
}

.map-tool {
	background-color: transparent;
	cursor: pointer;
}
.map-tool.comment {
	background-image: url(../../img/icons/gerber-map/comment.png);
	width: 55px;
	height: 57px;
}
.map-tool.measure {
	background-image: url(../../img/icons/gerber-map/measure.png);
	width: 55px;
	height: 57px;
}
.map-tool div {
    position: relative;
    left: 59px;
    top: 12px;
    font-size: 21px;
    color: black;
}

.crosshair-cursor.leaflet-container,
.crosshair-cursor.leaflet-clickable {
	cursor: crosshair;
}

.popup-comment .number-circle {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 18px;
    border: 2px solid black;
	margin-right: 10px;
	margin-top: 2px;
}

.popup-comment .number-circle span {
    text-align: center;
    line-height: 28px;
    display: block;
}

.popup-comment h4 {
	font-size: 20px;
	display: inline-flex;
	margin-top: 0;
}

.popup-comment select {
    font-size: 19px;
	position: absolute;
	left: 62px;
	top: 17px;
}

.popup-comment textarea {
    resize: none;
}

.popup-comment .comment-header {
	display: inline-flex;
}

.popup-comment .comment-description {
	margin-top: 0;
	margin-bottom: 20px;
	line-height: 15px;
}

.popup-comment .comment-info {
	line-height: 16px;
}
