.tensorflow-playground .jumbotron {
    margin-bottom: 0;
}
.tensorflow-playground .label {
    background-color: rgba(0, 0, 0, 0);
    white-space: normal;
    text-align: start;
    padding: 0;
}

.tensorflow-playground .thumbnail {
    padding: 0;
    border: none;
}