    <!-- BEGIN SIDEBPANEL-->
    <nav class="page-sidebar" data-pages="sidebar" pg-sidebar>
      <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
      <div class="sidebar-overlay-slide from-top" id="appMenu">
        <div class="row">
          <div class="col-xs-6 no-padding">
            <a href="" class="p-l-40"><img src="assets/img/demo/social_app.svg" alt="socail">
            </a>
          </div>
          <div class="col-xs-6 no-padding">
            <a href="" class="p-l-10"><img src="assets/img/demo/email_app.svg" alt="socail">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 m-t-20 no-padding">
            <a href="" class="p-l-40"><img src="assets/img/demo/calendar_app.svg" alt="socail">
            </a>
          </div>
          <div class="col-xs-6 m-t-20 no-padding">
            <a href="" class="p-l-10"><img src="assets/img/demo/add_more.svg" alt="socail">
            </a>
          </div>
        </div>
      </div>
      <!-- END SIDEBAR MENU TOP TRAY CONTENT-->
      <!-- BEGIN SIDEBAR MENU HEADER-->
      <div class="sidebar-header">
        <img src="assets/img/logo_white.png" alt="logo" class="brand" data-src="assets/img/logo_white.png" ui-jq="unveil" data-src-retina="assets/img/logo_white_2x.png" width="78" height="22">
        <div class="sidebar-header-controls">
          <button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" data-pages-toggle="#appMenu"><i class="fa fa-angle-down fs-16"></i>
          </button>
          <button type="button" class="btn btn-link visible-lg-inline" data-toggle-pin="sidebar"><i class="fa fs-12"></i>
          </button>
        </div>
      </div>
      <!-- END SIDEBAR MENU HEADER-->
      <!-- START SIDEBAR MENU -->
      <div class="sidebar-menu">
        <!-- BEGIN SIDEBAR MENU ITEMS-->
        <ul class="menu-items">
          <li class="m-t-30 open" ui-sref-active="active">
            <a href="javascript:;"><span class="title">Sergey Ilinykh</span>
              <span class="arrow"></span></a>
            <span class="icon-thumbnail"><i class="pg-menu_lv"></i></span>
            <ul class="sub-menu">
              <li>
                <a href="../../modules/gerber-map/stock.html">Gerber SVG</a>
                <span class="icon-thumbnail">SVG</span>
              </li>
              <li>
                <a href="../../modules/tensorflow-playground/dist/index.html">Tensor Flow</a>
                <span class="icon-thumbnail">TF</span>
              </li>
            </ul>
          </li>
          <li class="">
            <a ui-sref="app.dashboard" class="detailed">
              <span class="title">Dashboard</span>
              <span class="details">12 New Updates</span>
            </a>
            <span class="icon-thumbnail"><i class="pg-home"></i></span>
          </li>
          <li class="">
            <a href="http://pages.revox.io/dashboard/latest/html/widget.html" class="detailed" target="_blank">
              <span class="title">Widgets</span>
              <span class="details">22 items</span>
            </a>
            <span class=" icon-thumbnail">W</span>
          </li>
          <li class="" ui-sref-active="active">
            <a ui-sref="app.email.inbox" class="detailed">
              <span class="title">Email</span>
              <span class="details">234 New Emails</span>
            </a>
            <span class="icon-thumbnail "><i class="pg-mail"></i></span>
          </li>
          <li class="" ui-sref-active="active">
            <a ui-sref="app.social"><span class="title">Social</span></a>
            <span class="icon-thumbnail "><i class="pg-social"></i></span>
          </li>
          <li class="" ui-sref-active="active">
            <a ui-sref="app.calendar"><span class="title">Calendar</span></a>
            <span class="icon-thumbnail"><i class="pg-calender"></i></span>
          </li>
          <li class="" ui-sref-active="active">
            <a ui-sref="app.builder">
              <span class="title">Builder</span>
            </a>
            <span class="icon-thumbnail"><i class="pg-layouts"></i></span>
          </li>
          <li ng-class="{'open active':includes('app.layouts')}">
            <a href="javascript:;"><span class="title">Layouts</span>
            <span class=" arrow" ng-class="{'active open':$state.includes('app.layouts')}"></span></a>
            <span class="icon-thumbnail"><i class="pg-layouts2"></i></span>
            <ul class="sub-menu">
              <li ui-sref-active="active">
                <a ui-sref="app.layouts.default">Default</a>
                <span class="icon-thumbnail">dl</span>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="app.layouts.secondary">Secondary</a>
                <span class="icon-thumbnail">sl</span>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="boxed">Boxed</a>
                <span class="icon-thumbnail">bl</span>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="app.layouts.horizontal">Horizontal Menu</a>
                <span class="icon-thumbnail">hm</span>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="app.layouts.rtl">RTL</a>
                <span class="icon-thumbnail">rl</span>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="app.builder">Columns</a>
                <span class="icon-thumbnail">cl</span>
              </li>
            </ul>
          </li>
          <li ng-class="{'open active':includes('app.ui')}">
            <a href="javascript:;"><span class="title">UI Elements</span>
            <span class=" arrow" ng-class="{'active open':$state.includes('app.ui')}"></span></a>
            <span class="icon-thumbnail">Ui</span>
            <ul class="sub-menu">
              <li ui-sref-active="active">
                <a ui-sref="app.ui.color">Color</a>
                <span class="icon-thumbnail">c</span>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="app.ui.typo">Typography</a>
                <span class="icon-thumbnail">t</span>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="app.ui.icons">Icons</a>
                <span class="icon-thumbnail">i</span>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="app.ui.buttons">Buttons</a>
                <span class="icon-thumbnail">b</span>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="app.ui.notifications">Notifications</a>
                <span class="icon-thumbnail">n</span>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="app.ui.modals">Modals</a>
                <span class="icon-thumbnail">m</span>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="app.ui.progress">Progress &amp; Activity</a>
                <span class="icon-thumbnail">pa</span>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="app.ui.tabs">Tabs &amp; Accordions</a>
                <span class="icon-thumbnail">ta</span>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="app.ui.sliders">Sliders</a>
                <span class="icon-thumbnail">s</span>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="app.ui.nestables">Nestable</a>
                <span class="icon-thumbnail">ns</span>
              </li>
            </ul>
          </li>
          <li ng-class="{'open active':includes('app.forms')}">
            <a href="javascript:;">
              <span class="title">Forms</span>
              <span class="arrow" ng-class="{'active open':$state.includes('app.forms')}"></span>
            </a>
            <span class="icon-thumbnail"><i class="pg-form"></i></span>
            <ul class="sub-menu">
              <li ui-sref-active="active">
                <a ui-sref="app.forms.elements">Form Elements</a>
                <span class="icon-thumbnail">fe</span>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="app.forms.layouts">Form Layouts</a>
                <span class="icon-thumbnail">fl</span>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="app.forms.wizard">Form Wizard</a>
                <span class="icon-thumbnail">fw</span>
              </li>
            </ul>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="app.portlets">
              <span class="title">Portlets</span>
            </a>
            <span class="icon-thumbnail"><i class="pg-grid"></i></span>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="app.views">
              <span class="title">Views</span>
            </a>
            <span class="icon-thumbnail"><i class="pg pg-ui"></i></span>
          </li>
          <li ng-class="{'open active':includes('app.tables')}">
            <a href="javascript:;"><span class="title">Tables</span>
            <span class=" arrow" ng-class="{'active open':$state.includes('app.tables')}"></span></a>
            <span class="icon-thumbnail"><i class="pg-tables"></i></span>
            <ul class="sub-menu">
              <li ui-sref-active="active">
                <a ui-sref="app.tables.basic">Basic Tables</a>
                <span class="icon-thumbnail">bt</span>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="app.tables.dataTables">Data Tables</a>
                <span class="icon-thumbnail">dt</span>
              </li>
            </ul>
          </li>
          <li ng-class="{'open active':includes('app.maps')}">
            <a href="javascript:;"><span class="title">Maps</span> 
            <span class=" arrow" ng-class="{'active open':$state.includes('app.maps')}"></span></a>
            <span class="icon-thumbnail "><i class="pg-map"></i></span>
            <ul class="sub-menu">
              <li ui-sref-active="active">
                <a ui-sref="app.maps.google">Google Maps</a>
                <span class="icon-thumbnail">gm</span>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="app.maps.vector">Vector Maps</a>
                <span class="icon-thumbnail">vm</span>
              </li>
            </ul>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="app.charts"><span class="title">Charts</span></a>
            <span class="icon-thumbnail"><i class="pg-charts"></i></span>
          </li>
          <li ng-class="{'open active':includes('app.extra')}">
            <a href="javascript:;"><span class="title">Extra</span>
            <span class=" arrow " ng-class="{'active open':$state.includes('app.extra')}"></span></a>
            <span class="icon-thumbnail"><i class="pg-bag"></i></span>
            <ul class="sub-menu">
              <li ui-sref-active="active">
                <a ui-sref="app.extra.invoice">Invoice</a>
                <span class="icon-thumbnail">in</span>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="access.404">404 Page</a>
                <span class="icon-thumbnail">pg</span>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="access.500">500 Page</a>
                <span class="icon-thumbnail">pg</span>
              </li>
              <li cui-sref-active="active">
                <a ui-sref="app.extra.blank">Blank Page</a>
                <span class="icon-thumbnail">bp</span>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="access.login">Login</a>
                <span class="icon-thumbnail">l</span>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="access.register">Register</a>
                <span class="icon-thumbnail">re</span>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="access.lock_screen">Lockscreen</a>
                <span class="icon-thumbnail">ls</span>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="app.extra.gallery">Gallery</a>
                <span class="icon-thumbnail">gl</span>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="app.extra.timeline">Timeline</a>
                <span class="icon-thumbnail">t</span>
              </li>
            </ul>
          </li>
          <li class="">
            <a href="javascript:;"><span class="title">Menu Levels</span>
            <span class="arrow"></span></a>
            <span class="icon-thumbnail"><i class="pg-menu_lv"></i></span>
            <ul class="sub-menu">
              <li>
                <a href="javascript:;">Level 1</a>
                <span class="icon-thumbnail">L1</span>
              </li>
              <li>
                <a href="javascript:;"><span class="title">Level 2</span>
                <span class="arrow"></span></a>
                <span class="icon-thumbnail">L2</span>
                <ul class="sub-menu">
                  <li>
                    <a href="javascript:;">Sub Menu</a>
                    <span class="icon-thumbnail">Sm</span>
                  </li>
                  <li>
                    <a href="ujavascript:;">Sub Menu</a>
                    <span class="icon-thumbnail">Sm</span>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="">
            <a href="http://pages.revox.io/dashboard/2.2.0/docs/" target="_blank"><span class="title">Docs</span></a>
            <span class="icon-thumbnail"><i class="pg-note"></i></span>
          </li>
          <li class="">
            <a href="http://changelog.pages.revox.io/" target="_blank"><span class="title">Changelog</span></a>
            <span class="icon-thumbnail">Cl</span>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <!-- END SIDEBAR MENU -->
    </nav>
    <!-- END SIDEBAR -->
    <!-- END SIDEBPANEL-->